<h1 class="page_header">Arab Art Archive, al Mawrid, NYU Abu Dhabi</h1>
<p class="repository_info">
  The Arab Art Archive works with artists, their families, collections, galleries, arts organizations, and other
  institutions throughout the region and around the world to digitize a range of documentary material pertaining to the
  history of modern art in the Arab countries.
  <span class="repository_url">
  <a target="_blank" href="https://nyuad.nyu.edu/en/research/faculty-labs-and-projects/al-mawrid.html"><i class="fa fa-globe"></i> Website</a>
  </span>
</p>
