<h1>Arab Art Archive, al Mawrid, NYU Abu Dhabi</h1>
<p>
  The Arab Art Archive works with artists, their families, collections, galleries, arts organizations, and other
  institutions throughout the region and around the world to digitize a range of documentary material pertaining to the
  history of modern art in the Arab countries.
  <a target="_blank" href="https://nyuad.nyu.edu/en/research/faculty-labs-and-projects/al-mawrid.html">Website</a>
</p>
