<h1>The Fales Library &amp; Special Collections</h1>
<p>
  The Fales Library &amp; Special Collections, comprising 350,000 volumes of book and print items, over 11,000 linear
  feet of archive and manuscript materials, and about 90,000 audiovisual elements, houses the Fales Collection of rare
  books and manuscripts in English and American literature, the Downtown Collection, the Food and Cookery Collection,
  the Riot Grrrl Collection, and the general Special Collections of the NYU Libraries.
  <a target="_blank" href="https://library.nyu.edu/locations/special-collections-center/">Website</a>
</p>