<div style="background: #EEF4FD; padding: 16px;">
  <a target="_blank" href="https://www.nyhistory.org/library">
    <%= image_tag "repositories/nyh.png", class: "img-fluid" %>
  </a>
</div>

<p>
  <a target="_blank" href="https://www.nyhistory.org/library">Website</a>
</p>