<h1 class="page_header">Research Institute for the Study of Man</h1>
<p class="repository_info">
  The RISM Research Collections and Archives have been transferred to the New York University Archives.
  <span class="repository_url">
  <a target="_blank" href="https://library.nyu.edu/locations/special-collections-center/"><i class="fa fa-globe"></i> Website</a>
  </span>
</p>