<h1>Research Institute for the Study of Man</h1>
<p>
  The RISM Research Collections and Archives have been transferred to the New York University Archives.
  <a target="_blank" href="https://library.nyu.edu/locations/special-collections-center/"><i class="fa fa-globe"></i>
    Website</a>
</p>