<h1 class="page_header">Tamiment Library &amp; Wagner Labor Archives</h1>
<p class="repository_info">
  The Tamiment Library and Robert F. Wagner Labor Archives collects material in all formats documenting the history of
  labor, the Left, political radicalism, and social movements in the United States, with particular strengths in
  communism, anarchism, and socialism. It is also the repository for the Archives of Irish America and the Abraham
  Lincoln Brigade Archives.
  <span class="repository_url">
  <a target="_blank" href="https://library.nyu.edu/locations/special-collections-center/"><i class="fa fa-globe"></i> Website</a>
  </span>
</p>
