<h2>New York University Archives</h2>
<p>
  The New York University Archives serves as the final repository for the historical records of NYU. Its primary purpose
  is to document the history of the University and to provide source material for administrators, faculty, students,
  alumni, and other members of the University community, as well as scholars, authors, and other interested persons who
  seek to evaluate the impact of the University's activities on the history of American social, cultural, and
  intellectual development.
  <a target="_blank" href="https://library.nyu.edu/locations/special-collections-center/">Website</a>
</p>